.navbar{
    margin-bottom: 25px;
}

#qCard{
    visibility: hidden;
    margin:auto
}

#scoreboard{
    visibility: hidden;
    margin:auto;
    max-width: 500px;
    text-align: center;

}
#welcomeEl{
    max-width: 500px;
    margin:auto;
}